@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 216, 89%, 50%;
    --border: 0 0% 89.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
